[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
torch = "==1.0.1"
torchvision = "==0.2.2"
pillow = "==6.2.1"
numpy = "*"
tqdm = "*"
requests = "*"
graphviz = "*"

[requires]
python_version = "3.7"
